body {
    font: 12px Arial;
}

.bar rect {
    shape-rendering: crispEdges;
}

.bar text {
    fill: #999999;
}
  
.axis path, 
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    shape-rendering: crispEdges;
} 